{% extends "layout.html" %}
{% block title %} ADD Course {% endblock %}
{% block content %}
<div class="col-md-12 justify-content-center">
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group col-md-2 ">
				<legend class="border-bottom mb-4">ADD Course</legend>				
				<div class="form-group">
					{{ form.CourseId.label(class="form-control-label") }}
					{% if form.CourseId.errors %}
						{{ form.CourseId(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.CourseId.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.CourseId(class="form-control form-control-lg ") }}
					{% endif %}					
				</div>
				<div class="form-group">
					{{ form.CourseName.label(class="form-control-label") }}
					{% if form.CourseName.errors %}
						{{ form.CourseName(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.CourseName.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.CourseName(class="form-control form-control-lg ") }}
					{% endif %}					
				</div>
				<div class="form-group">
					{{ form.CourseCredit.label(class="form-control-label") }}
					{% if form.CourseCredit.errors %}
						{{ form.CourseCredit(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.CourseCredit.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.CourseCredit(class="form-control form-control-lg ") }}
					{% endif %}					
				</div>
				<div class="form-group">
                    {{ form.Semester.label(class="form-control-label") }}
                    {% if form.Semester.errors %}
                        {{ form.Semester(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Semester.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Semester(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
			</fieldset>
			<div class="form-group border-bottom-1">
				{{ form.Add(class="ml-3 btn btn-primary btn-lg active") }}
			</div>
		</form>
	</div>
	
  
{% endblock %} 