{% extends "layout.html" %}
{% block title %} Assignment List {% endblock %}
{% block content %}        
<div class="ml-4">
    <h1>Assignment List:</h1>
</div>
<a class="mt-3 ml-2 font-weight-bolder btn-lg text-white" href="{{ url_for('addassignment')}}">+Add New Assignment</a>
<div class="article-metadata ml-4 mr-4 mt-2">
<table>
    <tr class="tr-line">
        <th class="th-line"> Assignment ID</th>
        <th class="th-line"> Assignment Name </th>
        <th class="th-line"> Assignment Points </th>
        <th class="th-line"> Assignment Description </th>
        <th class="th-line"> Course Name </th>
        <th class="th-line"></th>
    </tr>
    {% for row in joined_m_n %}
    <tr class="tr-line">
        <td class="td-line"> {{row.AssignmentId}}</td>
        <td class="td-line"> {{row.AssignmentName}} </td>
        <td class="td-line"> {{row.AssignmentPoints}} </td>
        <td class="td-line"> {{row.AssignmentDescription}} </td>
        <td class="td-line"> {{row.CourseName}} </td>
        <td class="td-line"> <a class="mr-2 text-white" href="{{ url_for('assignment_update', AssignmentId=row.AssignmentId)}}">Update</a>| 
             <a class="mr-2 text-white" href="{{ url_for('assignment_delete',AssignmentId=row.AssignmentId)}}">Delete</a> 
        </td>
    </tr>
    {% endfor %}
</table>
</div>       
{% endblock %} 