{% extends "layout.html" %}
{% block title %} Course List {% endblock %}
{% block content %}
     
          
            
			<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #123781;
}

tr:nth-child(odd) {
    background-color: #06AEFC;
}
</style>
<div class="article-metadata">

<table style="width:100%">
<tr>
<th> Grade ID</th>
<th> Grade Value </th>
<th> Course </th>
</tr>
 {% for row in joined_m_n %}
<tr>
             <<td> <a class="mr-2" href="{{ url_for('grade1', GradeId=row.GradeId)}}">{{row.GradeId}}</a> </td>
              <td> {{row.CourseValue}} </td>
			  <td> {{row.CourseId}} </td>
			  </tr>
			  {% endfor %}
			  </table>
            </div>
           
          
        
     
{% endblock %} 