{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="col-md-2">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
<h1 class="ml-3">
	Welcome, {{ current_user.fname }}
</h1> <br>
<div class="row">
<div class="ml-3 col-md-5">
	<h4 class="align-middle">‘CtrlAltElites’ is a one stop application for students who need help keeping track of their assignments & courses, essential for the current ‘zoom university’ schedule! This application is a virtual planner for students to track their courses, assignments and keep track of their overall grade for each course.</h4><br>
	<h4 class="align-middle">“A task is a step taken by the user during the process of achieving a goal. In order to achieve a goal, users have to navigate through multiple steps completing small tasks. The information architecture of a digital product is formed by tasks.”</h4>
</div>
<div class="col-md-1"></div>
<div class="col-md-4 mb-5">
	<img src="/static/Profile_pics/Homepage.png" height= "450px" width="450px">
</div>
</div>
{% endblock %} 